@model List<ConstructionManagementPresentation.Models.Activity>
@{
    ViewData["Title"] = "Activity";
}

<div class="container mt-4">
    <h1 class="mb-4 text-center">Etkinlik Listesi</h1>

    <div class="text-end mb-3">
        <a asp-action="Create" class="btn btn-success">Yeni Etkinlik Oluştur</a>
    </div>

    <table class="table table-striped">
        <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Etkinlik Türü</th>
                <th>Tarih</th>
                <th>Açıklama</th>
                <th>Çalışan Adı</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var activity in Model)
            {
                <tr>
                    <td>@activity.Id</td>
                    <td>@activity.ActivityType</td>
                    <td>@activity.Date.ToShortDateString()</td>
                    <td>@activity.Description</td>
                
                    <td>
                        <a asp-action="Details" asp-route-id="@activity.Id" class="btn btn-info btn-sm">Detaylar</a>
                        <a asp-action="Edit" asp-route-id="@activity.Id" class="btn btn-warning btn-sm">Düzenle</a>
                        <a asp-action="Delete" asp-route-id="@activity.Id" class="btn btn-danger btn-sm">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>